<div class='doctor-list'>
    <img src="{{doctor.pic}}" alt="{{doctor.name}}" class='doctor-pic'/>
    <h1>{{doctor.name}}</h1>
    <h4>{{doctor.specialty}}</h4>
    <h5>{{doctor.area}}</h5>
    <p>Review Score: <b>{{doctor.score}}</b> / 100</p>
    
    <a href="/doctors/{{doctor.id}}" class="btn btn-lg btn-primary" role="button">View More Information</a>
</div>